<div id="newMessage" class="message-modal reveal-modal" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <h2>WRITE NEW MESSAGE</h2>
  <%= form_for(@message, url: messages_path) do |f| %>
 
  <div class='form-element'>
    <%= f.select :recipient_id, @user.friends.map {|friend| [friend.username,friend.id]}, include_blank: true %>
    <%= f.hidden_field :sender_id, value: @user.id %>
  </div>
  
  <div class='form-element'>
    <%= f.text_field :subject, placeholder: 'Subject' %>
  </div>
  
  <div class='form-element'>
    <%= f.text_area :body, rows: 8, placeholder: 'Message' %>
  </div>

  <div><%= f.submit "SEND", class: 'button' %></div>
  <% end %>

</div>