<div id='message-<%= message.id %>' class='single-message message-modal reveal-modal' data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <h2> <%= message.sender.username %> </h2>
  <h3> <%= message.subject %></h3>
  <div> <%= simple_format(message.body) %> </div>
  <% if current_page?(messages_path) %>
  <div class='button-wrapper'>
    <a href='#' class='reply button' data-reveal-id='replayMessage-<%= message.id %>'>Reply</a>
    <%= link_to 'Delete', archive_message_path(message), method: :delete, class: 'delete button' %>
  </div>
  <% end %>
</div>
<%= render 'reply', message: message %>