<body class='signup-view'>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.hidden_field :email, value: @signup_request.email %>
  
  <h1>SQD UP</h1>
  <div class='banner'>
    <ul>
      <li>
        <div>
          <h2>WHAT GAME ARE YOU LOOKING FOR A BUDDY TO PLAY WITH?</h2>
          <%= select_tag :game_title, options_for_select(Game.pluck(:title).uniq), class: 'game-select' %>
          <%= select_tag :platform_id, options_for_select(Platform.pluck(:name,:id)), class: 'game-select' %>
          
        </div>
          <%= f.select :game_id, options_for_select(Game.pluck(:id)), class: 'hide' %>
        <div>
          <%= render partial: 'play_schedule_selector', locals: {f: f} %>
        </div>
        <a href='#' class='unslider-arrow button first-button' data-direction='next'>NEXT</a>
      </li>
      <li>
        <%= render partial: 'gaming_style', locals: {f: f} %>
        <a href='#' class='unslider-arrow button' data-direction='next'>NEXT</a>
      </li>
      <li>
        <%= render partial: 'player_match_attributes', locals: {f: f} %>
        <a href='#' class='unslider-arrow button' data-direction='next'>NEXT</a>
      </li>
      <li>
        <%= render partial: 'more_personal_info', locals: {f: f} %>
        <a href='#' class='unslider-arrow button' data-direction='next'>NEXT</a>
      </li>
      <li>
        <%= render 'more_details', f: f %>
        <div class='finish-form'>
          <%= f.submit "FINISH", class: 'button' %>
        </div>
      </li>
    </ul>
  </div>
  
<% end %>
</body>