<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>
  
<!-- FIRST SCREEN -->
  
  <div><%= f.label :game %><br />
  <%= f.select :game_id, options_for_select(Game.pluck(:title,:id)) %></div>
  
  <!-- Play Schedule -->
  
<!-- SECOND SCREEN -->


  
  <div><%= f.label :personal_rank %><br />
  <div class='slider' data-target='user_personal_rank'></div>
  <%= f.hidden_field :personal_rank, value: 50 %></div>
  
  
  <div><%= f.label :mic_style %><br />
  <div class='slider' data-target='user_mic_style'></div>
  <%= f.hidden_field :mic_style, value: 50 %></div>
  
  
  <div><%= f.label :play_style %><br />
  <div class='slider' data-target='user_play_style'></div>
  <%= f.hidden_field :play_style, value: 50 %></div>

<!-- THIRD SCREEN -->

  <!-- Trait Selection -->
  
  <!-- MatchTrait Selection -->
  
<!-- FOURTH SCREEN -->

  <!-- Outside Activites Selection -->
  
  <div><%= f.label :desc_words %><br />
  <%= f.text_field :desc_words %></div>  

<!-- FIFTH SCREEN -->

  <div><%= f.label :gamertag %><br />
  <%= f.text_field :gamertag %></div>
  
  <div><%= f.label :postal_code %><br />
  <%= f.text_field :postal_code %></div>
  
  <div><%= f.label :date_of_birth %><br />
  <%= f.date_field :date_of_birth %></div>

  <div><%= f.label :occupation %><br />
  <%= f.text_field :occupation %></div>
  
  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

