<div id='friendships'>
  <h2>Friend List</h2>
  <ul class='friend-list-body'>
  <% @friendships.each do |friendship| %>
    <li>
      <div class="details">
        <h3><%= link_to friendship.friend.username, friendship_path(friendship) %></h3>
        <p><em>Platform:</em> <%= friendship.friend.game.title %></p>
        <p><em>Game:</em> <%= friendship.friend.game.platform.name %></p>
      </div>
      <div class="actions">
        <i class="fa fa-trash-o fa-2x"></i>
        <a href='#' data-reveal-id='newMessage-<%= friendship.friend.id %>'><i class="fa fa-envelope fa-2x"></i></a>
      </div>
      <div class='clear'></div>
      
    </li>
  <% end %>
  </ul>
</div>

<% @friendships.each do |friendship| %>
  <%= render 'messages/new_to', user: friendship.friend %>
<% end %>