<h2><%= match.username %><h2>
<div class='sep'></div>
<div class='key-match-data'>
  <p><em>OCCUPATION:</em> <%= match.occupation %></p>
  <p><em>AGE:</em> <%= match.age %></p>
  <p><em>LOCATION:</em> <%= match.location %></p>
</div>
<div class='gaming-style'>
  <h3>GAMING STYLE</h3>
  <% match.traits[0..2].each do |trait| %>
  <p><%= trait.description %></p>
  <% end %>
</div>
<div class='common-interests'>
  <h3>COMMON INTERESTS</h3>
  <% match.outside_activities[0..2].each do |outside_activity| %>
  <p><%= outside_activity.description %></p>
  <% end %>
</div>