<aside class="right-off-canvas-menu">
  <div class='close-nav'>
    <% unless current_user.nil? %><p>Hello, <%= current_user.gamertag %></p><% end %>
    <a class='close-offcanvas-link'>&#215;</a>
  </div>
  <ul class='off-canvas-list'>
    <% if current_user.nil? %>
      <li><%= link_to 'HOME', root_path %></li>
      <li><a href="#" data-reveal-id="signUpModal">FIND NEW FRIENDS</a></li>
      <li><a href="#">ABOUT SQDUP</a></li>
      <li><a href="#">BLOG</a></li>
      <li><a href="#">CONTACT US</a></li>
    <% else %>
      <li><%= link_to 'HOME', root_path %></li>
      <li><%= link_to 'MATCHES', matches_path %></li>
      <li><a class='open-sups' data-target='#notificationContainer' href="#">SUPS</a></li>
      <li><a href="#">FRIENDS</a></li>
      <li><a href="#">MESSAGES</a></li>
      <li><a href="#">PROFILE</a></li>
      <li><a href="#">ABOUT US</a></li>
      <li><a href="#">BLOG</a></li>
      <li><a href="#">CONTACT US</a></li>
      <li><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %></li>
    <% end %>
  </ul>
</aside>



<% unless current_user.nil? %>
<div id="notificationContainer">
  <div id="notificationTitle">Notifications</div>
  <div id="notificationsBody" class="notifications">
  <% FriendRequestActivity.activity(current_user).each do |activity| %>
    <p>
    <% if activity[:type] == :received %>
      <% if activity[:accepted] == false %>
        <a href="#"><%= activity[:matched_user].username %></a> sent you a Squad Up request!
      <% elsif activity[:accepted] == true %>
        You accepted <a href="#"><%= activity[:matched_user].username %></a>'s Squad Up request!
      <% end %>
    <% elsif activity[:type] = :sent %>
      <% if activity[:accepted] == false %>
        You sent <a href="#"><%= activity[:matched_user].username %></a> a Squad Up request!
      <% elsif activity[:accepted] == true %>
        <a href="#"><%= activity[:matched_user].username %></a> accepted your Squad Up request!
      <% end %>
    <% end %>
    </p>
  <% end %>
  </div>
</div>
<% end %>