<aside class="right-off-canvas-menu">
  <div class='close-nav'>
    <% unless current_user.nil? %><p>Hello, <%= current_user.gamertag %></p><% end %>
    <a class='close-offcanvas-link'>&#215;</a>
  </div>
  <ul class='off-canvas-list'>
    <% if current_user.nil? %>
      <li><%= link_to 'HOME', root_path %></li>
      <li><a href="#" data-reveal-id="signUpModal">FIND NEW FRIENDS</a></li>
      <li><a href="#">ABOUT SQDUP</a></li>
      <li><a href="#">BLOG</a></li>
      <li><a href="#">CONTACT US</a></li>
    <% else %>
      <li><%= link_to 'HOME', root_path %></li>
      <li><%= link_to 'MATCHES', matches_path %></li>
      <li><a class='open-sups' data-target='#notificationContainer' href="#">SUPS</a></li>
      <li><a href="#">FRIENDS</a></li>
      <li><a href="#">MESSAGES</a></li>
      <li><a href="#">PROFILE</a></li>
      <li><a href="#">ABOUT US</a></li>
      <li><a href="#">BLOG</a></li>
      <li><a href="#">CONTACT US</a></li>
      <li><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %></li>
    <% end %>
  </ul>
</aside>



<% unless current_user.nil? %>
hello <%= current_user%>
<div id="notificationContainer">
  <div id="notificationTitle">Notifications</div>
  <div id="notificationsBody" class="notifications">
  <% current_user.friend_requests.each do |friend_request| %>
    <p>
    <% if friend_request.recipient == current_user %>
      <% if friend_request.accepted %>
        You accepted <a href="#"><%= friend_request.requester.username %></a>'s Squad Up request!
      <% else %>
        <%= link_to friend_request.requester.username, friend_request_path(friend_request) %> sent you a Squad Up request!
      <% end %>
    <% elsif friend_request.requester == current_user %>
      <% if friend_request.accepted %>
        <a href="#"><%= friend_request.recipient.username %></a> accepted your Squad Up request!
      <% else %>
        You sent <a href="#"><%= friend_request.recipient.username %></a> a Squad Up request!
      <% end %>
    <% end %>
    </p>
  <% end %>
  </div>
</div>
<% end %>